snippet p "Paragraph" i
<p>${1:Text}</p>
endsnippet

snippet c "Code" i
<code>${1:code}</code>
endsnippet

snippet t "tag" i
<${1:tag}>${2:Text}</$1>
endsnippet

snippet II "em" iA
<em>${1:Text}</em>
endsnippet

snippet BB "strong" iA
<strong>${1:Text}</strong>
endsnippet

snippet a "Anchor" i
<a href="${1:#}">${2:Link}</a>
endsnippet
